

.fnBtnContainer{
   
    height: 150px;
    margin-top: 20px;
   
}

.fnBtn{
    margin-inline: 5px;
    font-family: 'orbitron';
    margin-bottom: 10px;
    height: 40px;
    width: 70px;
    font-size: 10px;
   
}