button{
    height: 50px;
    width: 50px;
}

.numericButtonContainer{
height: 600 px;
height: 100px;
margin-top: -1px;
}

.numBtn{
    margin-right: 5px;
    margin-bottom: 5px;
    height: 40px;
    width:px;
}