

.numericButtonContainer{
height: 600 px;
height: 100 px;
}

.numBtn{
    margin-inline: 5px;
    margin-bottom: 5px;
    font-family: 'orbitron';
    height: 40px;
    width: 70px;
    font-size: 20px;
    margin-bottom: 10px;
}

.numBtn10{
    width: 150px;
}