.operationBtnContainer{
    height: 600 px;
    height: 100px;
    margin-top: -50px;
    }

.opBtn{
    margin-inline: 5px;
    margin-bottom: 5px;
    height: 40px;
    width: 70px;
    font-size: 25px;
    margin-bottom: 10px;
}



.opBtn:active {
    background-color: #666;
    color: white;
}