.operationBtnContainer{
    height: 600 px;
    height: 100px;
    margin-top: -50px;
    }
button{
    height: 50px;
    width: 50px;
}

.opBtn{
    margin-right: 5px;
    margin-bottom: 5px;
    height: 40px;
    width:px;
}